.btn-action {
    background-color: #c231ca;
    border: none;
}

.client-section {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Poppins";
}

.footer {
  padding-top: 20px;
}

.bottom-padding {
  padding-bottom: 20px;
}

.social-icon {
  height: 30px;
}

.btn-action:active {
  background: white;
}
.btn-action:focus {
  background: white;
}
.btn-action:hover {
  background: white;

}
.btn-action:hover p{
  font: blue;

}

.logo-container img {
  height: 40px;
}

.navbar-brand.nav-white.page-scroll.logo-container {
  padding-top: 0;
}

.logo-container .black{
  display: none;
}

.past-main .white {
  display: none;
}

.past-main .black {
  display: block;
}

@media only screen and (max-width: 767px) {
  .logo-container img {
    height: 30px;
  }
}
