.btn-action {
    background-color: #c231ca;
    border: none;
}

.client-section {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Poppins";
}

.footer {
  padding-top: 20px;
}

.bottom-padding {
  padding-bottom: 20px;
}

.social-icon {
  height: 30px;
}

.btn-action:active {
  background: white;
}
.btn-action:focus {
  background: white;
}
.btn-action:hover {
  background: white;

}
.btn-action:hover p{
  font: blue;

}

.logo-container img {
  height: 40px;
}

.navbar-brand.nav-white.page-scroll.logo-container {
  padding-top: 0;
}

.logo-container .black{
  display: none;
}

.past-main .white {
  display: none;
}

.past-main .black {
  display: block;
}

.hero-section {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../images/1.jpg") no-repeat center center;
	background-size: cover;
	padding: 150px 0 100px 0;
}

@media only screen and (max-width: 767px) {
  .logo-container img {
    height: 30px;
  }

  .hero-section {
  	background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../images/1.jpg") no-repeat -500px center;
  	background-size: cover;
  	padding: 150px 0 100px 0;
  }
}
